html, body {
    margin: 0;
    padding: 0;
    color: #353535;
}
h1 {
    font-family: 'Ultra', serif;
    font-size: 110px;
    font-weight: normal;
}
h3, p, span {
    font-family: 'Slabo 13px', serif;
}
.no-scroll {
    overflow: hidden;
}

.navigation-menu {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    width: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.95);
    z-index: 2;
    transition: all 0.4s;
}
.navigation-menu-open {
    width: 80%;
}
    .logo-container {
        position: absolute;
        top: 0;
        width: 100px;
        margin: 2rem;
    }
        .html-logo {
            width: 100px;
            height: 50px;
            position: absolute;
            top: 0;
            cursor: pointer;
        }
            .show-on-white * {
                border-color: #353535 !important;
            }
            .show-on-white *::before, .show-on-white .middle-chain {
                background: #353535 !important;
            }
            .html-logo:not(:hover) {
                animation: logo-animate infinite 3s;
            }
            .html-logo * {
                transition: all 0.4s;
            }
            .car-hood {
                position: absolute;
                left: 51px;
                width: 14px;
                height: 19px;
                border-left: solid white 4px;
                border-top: solid white 4px;
                border-top-left-radius: 5px;
                top: -2px;
            }
            .car-hood::before {
                content: "";
                position: absolute;
                background: white;
                height: 22px;
                width: 4px;
                right: -7px;
                transform: rotate(-40deg);
                top: -6px;
                border-radius: 21px;
                transition: all 0.4s;
            }
            .left-chain {
                width: 39px;
                height: 21px;
                border: solid 4px white;
                position: absolute;
                left: -2px;
                top: 13px;
                border-radius: 7px;
            }
            .left-chain::before {
                content: "";
                position: absolute;
                right: -14px;
                height: 4px;
                width: 14px;
                background: #019cff;
                bottom: 4px;
                z-index: 1;
            }
            .left-chain.blend-into-text::before, .right-chain.blend-into-text::before {
                background: #eafffb;
            }
            .left-chain.blend-into-green::before, .right-chain.blend-into-green::before {
                background: #23F0C7;
            }
            .left-chain.blend-into-white::before, .right-chain.blend-into-white::before {
                background: white !important;
            }
            .right-chain {
                width: 39px;
                height: 21px;
                border: solid 4px white;
                position: absolute;
                right: 2px;
                top: 13px;
                border-radius: 7px;
            }
            .right-chain::before {
                content: "";
                position: absolute;
                background: #019cff;
                height: 4px;
                width: 14px;
                left: -14px;
                top: 4px;
            }
            .middle-chain {
                position: absolute;
                width: 59px;
                background: white;
                height: 5px;
                top: 25px;
                left: 19px;
                border-radius: 6px;
                z-index: 1;
            }
            .middle-chain::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: white;
                border-radius: 6px;
                transition: all 0.4s;
            }
            .navigation-menu-open .middle-chain, .navigation-menu-open .middle-chain::before {
                background: #353535;
            }
            .left-wheel {
                position: absolute;
                bottom: -3px;
                width: 26px;
                height: 15px;
                left: 9px;
                border-bottom-left-radius: 21px;
                border-bottom-right-radius: 21px;
                border: solid white 4px;
                box-sizing: border-box;
            }
            .right-wheel {
                position: absolute;
                bottom: -3px;
                width: 26px;
                height: 15px;
                left: 62px;
                border-bottom-left-radius: 21px;
                border-bottom-right-radius: 21px;
                border: solid white 4px;
                box-sizing: border-box;
            }
            .html-logo:hover .middle-chain { transform: rotate(10deg); }
            .html-logo:hover .middle-chain::before { transform: rotate(-20deg); }
            .navigation-menu-open .html-logo *:not(.middle-chain) { opacity: 0; }
            .navigation-menu-open .middle-chain { transform: rotate(45deg); }
            .navigation-menu-open .middle-chain::before { transform: rotate(-90deg); }
            .navigation-menu-open .html-logo:hover .middle-chain { transform: rotate(35deg); }
            .navigation-menu-open .html-logo:hover .middle-chain::before { transform: rotate(-70deg); }
    .navigation-menu ul {
        margin-left: 8vw;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }
        .navigation-menu ul .nav-item {
            font-size: 5rem;
            line-height: 8rem;
            font-family: 'Ultra';
            color: #353535;
            width: max-content;
        }

.hero, .hero-2, .hero-3 {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
    .hero-layer-one {
        height: 100%;
        width: 100%;
        background: #009cff;
        display: flex;
    }
        .hero-text {
            position: absolute;
            margin: 24vh 0 0 8vh;
            color: #eaf6ff;
            z-index: 1;
        }
        .hero-layer-two {
            height: 625px;
            background: #5cbfff;
            margin: 12vh 12vh 0 auto;
            display: flex;
            position: relative;
            transform: rotate(25deg);
        }
        .hero-layer-two, .hero-layer-two::before, .hero-layer-two::after {
            width: 625px;
        }
        .hero-layer-two::before, .hero-layer-two::after {
            border-left: solid #009cff 181.25px;
            border-right: solid #009cff 181.25px;
        }
        .hero-layer-two::before {
            border-bottom: solid #5cbfff 181.25px;
        }
        .hero-layer-two::after {
            border-top: solid #5cbfff 181.25px;
        }
        .hero-layer-two::before, .hero-layer-two::after,
        .hero-layer-three::before, .hero-layer-three::after {
            content: "";
            position: absolute;
            box-sizing: border-box;
            height: 0;
        }
        .hero-layer-two::after, .hero-layer-three::after {
            bottom: 0;
        }
            .hero-layer-three {
                background: #acdeff;
                height: 412.5px;
                position: absolute;
                margin: 106.25px 0 0 106.25px;
                z-index: 1;
                transform: rotate(20deg);
            }
            .hero-layer-three, .hero-layer-three::before, .hero-layer-three::after {
                width: 412.5px;
            }
            .hero-layer-three::before, .hero-layer-three::after {
                border-left: solid #5cbfff 119.625px;
                border-right: solid #5cbfff 119.625px;
            }
            .hero-layer-three::before {
                border-bottom: solid #acdeff 119.625px;
            }
            .hero-layer-three::after {
                border-top: solid #acdeff 119.625px;
            }
                .hero-layer-four {
                    width: 200px;
                    height: 200px;
                    background: #eaf6ff;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 106.25px;
                    margin-left: 106.25px;
                    box-shadow: 30px 30px 60px #00000030;
                    z-index: 1;
                }
                    .hero-image {
                        width: 500px;
                        transform: rotate(-20deg);
                        margin-left: 50px;
                        margin-bottom: 30px;
                    }
    .scroll-affordance-container {
        position: absolute;
        bottom: 15px;
        margin-left: calc(50vw - 17.5px);
        display: flex;
        justify-content: center;
    }
        .scroll-mouse {
            height: 60px;
            width: 35px;
            display: flex;
            justify-content: center;
            border: solid white;
            border-radius: 50% / 28%;
            box-sizing: border-box;
        }
        .scroll-dot {
            width: 13px;
            height: 13px;
            background: white;
            border-radius: 50%;
            margin-top: 8px;
            transition: all;
            animation: scroll-dot-animate 1.9s infinite;
        }

.hero-2-layer-one {
    height: 100%;
    width: 100%;
    background: #23F0C7;
    display: flex;
}
    .hero-2-text {
        position: absolute;
        right: 0;
        margin: 33vh 8vh 0 0;
        color: #eafffb;
        z-index: 1;
    }
    .hero-2-layer-two {
        height: 625px;
        background: #6df9dd;
        margin: 12vh 0 0 12vh;
        display: flex;
        position: relative;
        transform: rotate(40deg);
    }
    .hero-2-layer-two, .hero-2-layer-two::before, .hero-2-layer-two::after {
        width: 625px;
    }
    .hero-2-layer-two::before, .hero-2-layer-two::after {
        border-left: solid #23F0C7 181.25px;
        border-right: solid #23F0C7 181.25px;
    }
    .hero-2-layer-two::before {
        border-bottom: solid #6df9dd 181.25px;
    }
    .hero-2-layer-two::after {
        border-top: solid #6df9dd 181.25px;
    }
    .hero-2-layer-two::before, .hero-2-layer-two::after,
    .hero-2-layer-three::before, .hero-2-layer-three::after {
        content: "";
        position: absolute;
        box-sizing: border-box;
        height: 0;
    }
    .hero-2-layer-two::after, .hero-2-layer-three::after {
        bottom: 0;
    }
        .hero-2-layer-three {
            background: #affbec;
            height: 412.5px;
            position: absolute;
            margin: 106.25px 0 0 106.25px;
            z-index: 1;
            transform: rotate(17deg);
        }
        .hero-2-layer-three, .hero-2-layer-three::before, .hero-2-layer-three::after {
            width: 412.5px;
        }
        .hero-2-layer-three::before, .hero-2-layer-three::after {
            border-left: solid #6df9dd 119.625px;
            border-right: solid #6df9dd 119.625px;
        }
        .hero-2-layer-three::before {
            border-bottom: solid #affbec 119.625px;
        }
        .hero-2-layer-three::after {
            border-top: solid #affbec 119.625px;
        }
            .hero-2-layer-four {
                width: 200px;
                height: 200px;
                background: #eafffb;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 106.25px;
                margin-left: 106.25px;
                box-shadow: 30px 30px 60px #00000030;
                transform: rotate(-10deg);
                z-index: 1;
            }
                .hero-2-image {
                    width: 500px;
                    transform: rotate(-20deg);
                    margin-left: 50px;
                    margin-bottom: 30px;
                }

.hero-3-text {
    text-align: center;
}
.hero-3-cars-container {
    display: flex;
    justify-content: center;
}
    .car {
        width: 300px;
        height: 295px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        border: solid 1px #cfcfcf;
        border-radius: 3px;
        margin: 1rem;
    }
        .car-image {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        .car-body {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 1rem;
        }
            .car-body h3 {
                margin-top: 0;
            }
            .car-info {
                display: flex;
                justify-content: space-between;
            }

.footer {
    display: flex;
    justify-content: space-between;
    background: #353535;
    color: white;
    padding: 1rem 2rem;
}
    .fab {
        font-family: "Font Awesome 5 Brands";
        font-size: 3rem;
        margin-left: 1rem;
    }

@media (max-width: 1420px) {
    h1 {
        font-size: 70px;
    }
    .hero-text {
        margin-top: 33vh;
    }
    .hero-2-text {
        margin-top: 40vh;
    }
}

@keyframes scroll-dot-animate {
    0% {
        margin-top: 8px;
        height: 13px;
    }
    85% {
        margin-top: 32px;
        height: 13px;
    }
    92% {
        height: 18px;
    }
    100% {
        margin-top: 8px;
    }
}

@keyframes logo-animate {
    40% {
        transform: translateY(0px);
    }
    45% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(0px);
    }
    55% {
        transform: translateY(2px);
    }
    60% {
        transform: translateY(0px);
    }
}